# .gitignore para projetos NetBeans e Java 

# Arquivos específicos do NetBeans
/*/build/
/*/nbproject/private/
/*/*/nbproject/private/
/*/*/build/
/*/*/dist/
/*/*/*/nbproject/private/
/*/*/*/build/
/*/*/*/dist/
/nbproject/private/ 
/build/ 
/nbbuild/ 
/dist/ 
/nbdist/ 
/.nb-gradle/ 

# Arquivos de classe compilados
 *.class 

# Arquivos de log
 *. log 

# Arquivos de pacote
 *.jar 
*.war 
*.ear 

# Outros
 *.bak 
*.swp 
*~.nib 
*.tmp